<aside>
    <div id="sidebar"  class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
            <li class="mt">
                <a class="active" href="index.html">
                    <i class="fa fa-dashboard"></i>
                    <span>后台首页</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-desktop"></i>
                    <span>栏目管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="general.html">栏目列表</a></li>
                    <li><a  href="buttons.html">栏目注释</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-cogs"></i>
                    <span>文章管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="calendar.html">文章列表</a></li>
                    <li><a  href="gallery.html">文章注释</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-book"></i>
                    <span>用户管理</span>
                </a>
                <ul class="sub">
                    <li><a  href="blank.html">用户列表</a></li>
                    <li><a  href="login.html">用户注释</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" >
                    <i class="fa fa-tasks"></i>
                    <span>系统设置</span>
                </a>
            </li>

        </ul>
    </div>
</aside>