<!--{include file="public/_head"}-->
<!--{include file="public/_left"}-->
<!--<div class="container">-->
    <!--Hello,CC-->
<!--</div>-->
<!--{include file="public/_footer"}-->
<!--{include file="public/_js"}-->
<!--</body>-->
<!--</html>-->
{extend name='base'/}
{block name='content'}
<div style="padding:40px;">
    <h1>后台管理/首页</h1>
    <br>
    <h3>作&nbsp;&nbsp;&nbsp;&nbsp;者：唐娇（Junovivi） </h3>
    <h3>学&nbsp;&nbsp;&nbsp;&nbsp;号：150205106081</h3>
    <h3>Github：github.com/junovivi/</h3>
</div>
{/block}